/* Estilo personalizado */
body {
  background-color: #0e1a2b;
  color: #f8f9fa;
}

.navbar {
  background-color: #061020;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://cdn.pixabay.com/photo/2017/01/31/17/44/cyber-security-2026084_1280.jpg')
      center/cover no-repeat;
  color: white;
  padding: 100px 0;
  text-shadow: 1px 1px 3px black;
}

.card {
  border: none;
  border-radius: 1rem;
  background-color: #12263f;
  color: #e0e0e0;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
}

.section-light {
  background-color: #132542;
}

.quiz-container {
  background-color: #1a2e4f;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #061020;
  color: #ccc;
}
